<div class="operation">
      <h2>Add new flower: </h2>
      <button type="button" class="btn btn-default" ng-click="addButtonHandler()">Add</button>

      <!--Add flower form-->
      <div ng-hide="hideForm">
        <p> Name: <input type=text name="name" placeholder="Enter flower name" ng-model="name" required autocomplete="on"> </p>
        <p> Place, were plant is situated: <input type=text name="place" ng-model="place" placeholder="Enter flower's place" required autocomplete="on"> </p>
        <p> Watering interval: <input type=number name="interval" ng-model="interval" placeholder="Enter watering interval" required autocomplete="on"> </p>
        <p> Watering divergence (not less than) <input type=number name="minDivergence" ng-model="minDivergence" placeholder="Enter watering divergence" required autocomplete="on"> </p>
        <p> Watering divergence (not more than) <input type=number name="maxDivergence" ng-model="maxDivergence" placeholder="Enter watering divergence" required autocomplete="on"> </p>

        <button type="button" class="btn btn-default"  ng-click="submitAddButtonHandler()">Submit</button>
      </div>
    </div>