<div class="form-group">
    <label for="name">Filter by flower name: </label>
    <input type="text" id="name" class="form-control" ng-model="flowerName">
</div>

<table class="table table-bordered">

    <thead>
        <tr>
            <th>
                <button ng-click="sortBy('name')" type="button" class="btn btn-default">  <p>Name</p></button>
                <span class="sortorder" ng-show="propertyName === 'name'" ng-class="{reverse: reverse}"></span>
            </th>
            <th>
                <button ng-click="sortBy('place')" type="button" class="btn btn-default">  <p>Place</p></button>
                <span class="sortorder" ng-show="propertyName === 'place'" ng-class="{reverse: reverse}"></span>
            </th>
            <th>
                <button ng-click="sortBy('intervalToWater')" type="button" class="btn btn-default"> <p>Watering interval</p></button>
                <span class="sortorder" ng-show="propertyName === 'intervalToWater'" ng-class="{reverse: reverse}"></span>
            </th>
            <th>
                <button ng-click="sortBy('lastWateringDate')" type="button" class="btn btn-default">  <p>Last watering date</p></button>
                <span class="sortorder" ng-show="propertyName === 'lastWateringDate'" ng-class="{reverse: reverse}"></span>
            </th>
            <th>
                <p>Allowed deviation not more than (min)</p>
            </th>
            <th>
                <p>Allowed deviation not less than(min)</p>
            </th>

            <th>
                <button ng-click="sortBy('nextWateringDate')" type="button" class="btn btn-default"> <p>Planned next watering date</p></button>
                <span class="sortorder" ng-show="propertyName === 'nextWateringDate'" ng-class="{reverse: reverse}"></span>
            </th>
              <th>
                <p>Flower state</p>
            </th>
            <th>
                <p>Press button to water a flower</p>
            </th>
            <th>
                <p>Delete flower</p>
            </th>
        </tr>
    </thead>

    <tbody>
        <tr ng-repeat="item in flowersArray | filter:{name: flowerName} ">
            <td ng-repeat="(key, value) in item">
                        {{value}}
            </td>
            <td>
                <button type="button" class="btn btn-default" ng-click="waterButtonHandler(item.name)">
                      {{item.state}}
               </button>
            </td>

            <td>
                <button type="button" class="btn btn-default" ng-click="removeButtonHandler(item.name)">
                       Remove flower
                </button>
            </td>

        </tr>
    </tbody>

</table>